<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper    
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"    
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ssm.dao.UserDao">

	<select id="getUser" resultType="com.ssm.model.UserInfo">
		SELECT
		 t.t_id AS id ,
		 t.t_name as name
		FROM t_teacher t WHERE t.t_id = '1'
	</select>
</mapper>